/* line 3, ../sass/2A-1.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/2A-1.scss */
body, html {
  height: 100%;
}

/* line 11, ../sass/2A-1.scss */
body {
  padding: 0 20px;
}

/* line 15, ../sass/2A-1.scss */
.l-footer {
  height: 200px;
  max-width: 1200px;
  margin: -200px auto 0 auto;
  background: #00ddd4;
  background: rgba(0, 221, 212, 0.5);
}

/* line 24, ../sass/2A-1.scss */
.l-root-wrap {
  height: 100%;
  padding-bottom: 200px;
  display: table;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  outline: dashed 8px red;
}

/* line 36, ../sass/2A-1.scss */
.l-page-wrap {
  display: table-cell;
  height: 100%;
  font-size: 30px;
  outline: dashed 8px #000;
  background: #fafa00;
  background: rgba(250, 250, 0, 0.3);
}

/* line 46, ../sass/2A-1.scss */
.l-chrome-hack {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  outline: dashed 8px blue;
  background: #00fa00;
  background: rgba(0, 250, 0, 0.3);
}

/* line 56, ../sass/2A-1.scss */
.l-content-wrap {
  display: table;
  height: 100%;
  width: 100%;
}

/* line 62, ../sass/2A-1.scss */
.l-main-section {
  display: table-row;
  height: 100%;
  background: #fa00fa;
  background: rgba(250, 0, 250, 0.3);
}
@media only screen and (min-width: 960px) {
  /* line 62, ../sass/2A-1.scss */
  .l-main-section {
    display: table-cell;
    width: 75%;
  }
}

/* line 75, ../sass/2A-1.scss */
.l-sidebar {
  display: table-row;
  background: #646464;
  background: rgba(100, 100, 100, 0.3);
}
@media only screen and (min-width: 960px) {
  /* line 75, ../sass/2A-1.scss */
  .l-sidebar {
    display: table-cell;
    width: 25%;
  }
}

/* --- IE8 hacks --- */
/* line 89, ../sass/2A-1.scss */
.lt-ie9 div {
  box-sizing: border-box;
}

/* line 93, ../sass/2A-1.scss */
.lt-ie9 .l-root-wrap {
  padding-bottom: 0;
  min-width: 900px;
}

/* line 98, ../sass/2A-1.scss */
.lt-ie9 .l-footer {
  min-width: 900px;
}

/* line 102, ../sass/2A-1.scss */
.lt-ie9 .l-page-wrap {
  display: table-row;
}

/* line 106, ../sass/2A-1.scss */
.lt-ie9 .l-chrome-hack {
  display: table-cell;
}

/* line 110, ../sass/2A-1.scss */
.lt-ie9 .l-content-wrap {
  padding-bottom: 200px;
}

/* line 114, ../sass/2A-1.scss */
.lt-ie9 .l-main-section {
  display: table-cell;
  height: auto;
}

/* line 119, ../sass/2A-1.scss */
.lt-ie9 .l-sidebar {
  display: table-cell;
  height: auto;
}

/* --- Opera hacks --- */
/* line 126, ../sass/2A-1.scss */
noindex:-o-prefocus, .l-root-wrap {
  padding-bottom: 0;
}

/* line 130, ../sass/2A-1.scss */
noindex:-o-prefocus, .l-content-wrap {
  padding-bottom: 200px;
}

/* line 134, ../sass/2A-1.scss */
noindex:-o-prefocus, .l-page-wrap {
  display: table-row;
}

/* line 138, ../sass/2A-1.scss */
noindex:-o-prefocus, .l-chrome-hack {
  display: table-cell;
}
