/* line 10, ../sass/2A-1header-clean2.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, ../sass/2A-1header-clean2.scss */
body, html {
  height: 100%;
}

/* line 18, ../sass/2A-1header-clean2.scss */
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

/* line 24, ../sass/2A-1header-clean2.scss */
.l-footer {
  height: 200px;
  max-width: 1200px;
  margin: -200px auto 0 auto;
  background: #00ddd4;
  background: rgba(0, 221, 212, 0.5);
}

/* line 33, ../sass/2A-1header-clean2.scss */
.l-root-wrap {
  height: 100%;
  padding-bottom: 200px;
  display: table;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* line 43, ../sass/2A-1header-clean2.scss */
.l-page-wrap {
  display: table-cell;
  height: 100%;
}

/* line 48, ../sass/2A-1header-clean2.scss */
.l-chrome-hack {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

/* line 54, ../sass/2A-1header-clean2.scss */
.l-content-wrap {
  display: table;
  height: 100%;
  width: 100%;
}

/* line 60, ../sass/2A-1header-clean2.scss */
.l-header {
  height: 100px;
  max-width: 1200px;
  margin: 0 auto;
  display: table-row;
}

/* line 67, ../sass/2A-1header-clean2.scss */
.l-header-inner {
  height: 100px;
  overflow: hidden;
  background: rgba(255, 255, 0, 0.5);
}

/* line 74, ../sass/2A-1header-clean2.scss */
.l-content-wrap-inner {
  display: table;
  height: 100%;
  width: 100%;
}

/* line 80, ../sass/2A-1header-clean2.scss */
.l-main-section {
  display: table-row;
  height: 100%;
  background: #fa00fa;
  background: rgba(250, 0, 250, 0.3);
}
@media only screen and (min-width: 960px) {
  /* line 80, ../sass/2A-1header-clean2.scss */
  .l-main-section {
    display: table-cell;
    width: 75%;
  }
}

/* line 93, ../sass/2A-1header-clean2.scss */
.l-main-section__inner-wrap {
  height: 100%;
  padding: 20px;
  width: 100%;
  display: block;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 101, ../sass/2A-1header-clean2.scss */
  .l-main-section__inner-wrap {
    display: table;
  }
}
/* line 105, ../sass/2A-1header-clean2.scss */
noindex:-o-prefocus, .l-main-section__inner-wrap {
  display: table;
  height: auto;
}

/* line 110, ../sass/2A-1header-clean2.scss */
.l-main-section__inner-content {
  height: 100%;
  width: 100%;
  background: red;
}

/* line 116, ../sass/2A-1header-clean2.scss */
.l-sidebar {
  display: table-row;
  background: #646464;
  background: rgba(100, 100, 100, 0.3);
}
@media only screen and (min-width: 960px) {
  /* line 116, ../sass/2A-1header-clean2.scss */
  .l-sidebar {
    display: table-cell;
    width: 25%;
  }
}

/* line 128, ../sass/2A-1header-clean2.scss */
.l-sidebar__inner-wrap {
  height: 100%;
  padding: 20px;
  width: 100%;
  display: block;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 136, ../sass/2A-1header-clean2.scss */
  .l-sidebar__inner-wrap {
    display: table;
  }
}
/* line 140, ../sass/2A-1header-clean2.scss */
noindex:-o-prefocus, .l-sidebar__inner-wrap {
  display: table;
  height: auto;
}

/* line 145, ../sass/2A-1header-clean2.scss */
.l-sidebar__inner-content {
  height: 100%;
  width: 100%;
  background: grey;
}

/* --- IE hacks --- */
/* line 155, ../sass/2A-1header-clean2.scss */
.lt-ie10 .l-chrome-hack {
  display: table;
}

/* line 159, ../sass/2A-1header-clean2.scss */
.lt-ie10 .l-content-wrap {
  display: table-cell;
}

/* line 163, ../sass/2A-1header-clean2.scss */
.lt-ie10 .l-main-section__inner-wrap {
  display: table;
}

/* line 167, ../sass/2A-1header-clean2.scss */
.lt-ie10 .l-sidebar__inner-wrap {
  display: table;
}

/* line 173, ../sass/2A-1header-clean2.scss */
.lt-ie9 div {
  box-sizing: border-box;
}

/* line 177, ../sass/2A-1header-clean2.scss */
.lt-ie9 .l-root-wrap {
  padding-bottom: 0;
  min-width: 900px;
}

/* line 182, ../sass/2A-1header-clean2.scss */
.lt-ie9 .l-footer {
  min-width: 900px;
}

/* line 186, ../sass/2A-1header-clean2.scss */
.lt-ie9 .l-page-wrap {
  display: table-row;
}

/* line 190, ../sass/2A-1header-clean2.scss */
.lt-ie9 .l-chrome-hack {
  display: table-cell;
}

/* line 194, ../sass/2A-1header-clean2.scss */
.lt-ie9 .l-content-wrap {
  padding-bottom: 200px;
}

/* line 198, ../sass/2A-1header-clean2.scss */
.lt-ie9 .l-content-wrap-inner {
  display: table-row;
}

/* line 202, ../sass/2A-1header-clean2.scss */
.lt-ie9 .l-main-section {
  display: table-cell;
  height: auto;
}

/* line 207, ../sass/2A-1header-clean2.scss */
.lt-ie9 .l-sidebar {
  display: table-cell;
  height: auto;
}

/* --- Opera hacks --- */
/* line 214, ../sass/2A-1header-clean2.scss */
noindex:-o-prefocus, .l-header-inner {
  position: absolute;
}

/* line 218, ../sass/2A-1header-clean2.scss */
noindex:-o-prefocus, .l-content-wrap-inner {
  display: table-row;
}

/* line 222, ../sass/2A-1header-clean2.scss */
noindex:-o-prefocus, .l-root-wrap {
  padding-bottom: 0;
}

/* line 226, ../sass/2A-1header-clean2.scss */
noindex:-o-prefocus, .l-content-wrap {
  padding-bottom: 200px;
  position: relative;
}

/* line 231, ../sass/2A-1header-clean2.scss */
noindex:-o-prefocus, .l-page-wrap {
  display: table-row;
}

/* line 235, ../sass/2A-1header-clean2.scss */
noindex:-o-prefocus, .l-chrome-hack {
  display: table-cell;
}

/* line 239, ../sass/2A-1header-clean2.scss */
noindex:-o-prefocus, .l-main-section {
  background-repeat: no-repeat;
  background-size: 100% 51%;
  background-image: -o-linear-gradient(180deg, transparent 20px, red 20px, red 51%, transparent 51%), -o-linear-gradient(180deg, transparent 20px, red 20px, red 51%, transparent 51%), -o-linear-gradient(0deg, transparent 20px, red 20px, red 51%, transparent 51%), -o-linear-gradient(0deg, transparent 20px, red 20px, red 51%, transparent 51%);
  background-position: top 20px right 0px, bottom 20px right 0px, top 20px right 0px, bottom 20px right 0px;
}

/* line 254, ../sass/2A-1header-clean2.scss */
noindex:-o-prefocus, .l-sidebar {
  background-repeat: no-repeat;
  background-size: 100% 51%;
  background-image: -o-linear-gradient(180deg, transparent 20px, grey 20px, grey 51%, transparent 51%), -o-linear-gradient(180deg, transparent 20px, grey 20px, grey 51%, transparent 51%), -o-linear-gradient(0deg, transparent 20px, grey 20px, grey 51%, transparent 51%), -o-linear-gradient(0deg, transparent 20px, grey 20px, grey 51%, transparent 51%);
  background-position: top 20px right 0px, bottom 20px right 0px, top 20px right 0px, bottom 20px right 0px;
}
