/* line 3, ../sass/2A-1header-clean.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/2A-1header-clean.scss */
body, html {
  height: 100%;
}

/* line 11, ../sass/2A-1header-clean.scss */
body {
  padding: 0 20px;
  font-size: 10px;
}

/* line 16, ../sass/2A-1header-clean.scss */
.l-footer {
  height: 200px;
  max-width: 1200px;
  margin: -200px auto 0 auto;
  background: #00ddd4;
  background: rgba(0, 221, 212, 0.5);
}

/* line 25, ../sass/2A-1header-clean.scss */
.l-root-wrap {
  height: 100%;
  padding-bottom: 200px;
  display: table;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* line 35, ../sass/2A-1header-clean.scss */
.l-page-wrap {
  display: table-cell;
  height: 100%;
}

/* line 40, ../sass/2A-1header-clean.scss */
.l-chrome-hack {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

/* line 46, ../sass/2A-1header-clean.scss */
.l-content-wrap {
  display: table;
  height: 100%;
  width: 100%;
}

/* line 52, ../sass/2A-1header-clean.scss */
.l-header {
  height: 100px;
  max-width: 1200px;
  margin: 0 auto;
  display: table-row;
}

/* line 59, ../sass/2A-1header-clean.scss */
.l-header-inner {
  height: 100px;
  overflow: hidden;
  background: rgba(255, 255, 0, 0.5);
}

/* line 66, ../sass/2A-1header-clean.scss */
.l-content-wrap-inner {
  display: table;
  height: 100%;
  width: 100%;
}

/* line 72, ../sass/2A-1header-clean.scss */
.l-main-section {
  display: table-row;
  height: 100%;
  background: #fa00fa;
  background: rgba(250, 0, 250, 0.3);
}
@media only screen and (min-width: 960px) {
  /* line 72, ../sass/2A-1header-clean.scss */
  .l-main-section {
    display: table-cell;
    width: 75%;
  }
}

/* line 85, ../sass/2A-1header-clean.scss */
.l-main-section__inner-wrap {
  height: 100%;
  padding: 20px;
  width: 100%;
  display: block;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 93, ../sass/2A-1header-clean.scss */
  .l-main-section__inner-wrap {
    display: table;
  }
}
/* line 97, ../sass/2A-1header-clean.scss */
noindex:-o-prefocus, .l-main-section__inner-wrap {
  display: table;
  height: auto;
}

/* line 102, ../sass/2A-1header-clean.scss */
.l-main-section__inner-content {
  height: 100%;
  width: 100%;
  background: red;
}

/* line 108, ../sass/2A-1header-clean.scss */
.l-sidebar {
  display: table-row;
  background: #646464;
  background: rgba(100, 100, 100, 0.3);
}
@media only screen and (min-width: 960px) {
  /* line 108, ../sass/2A-1header-clean.scss */
  .l-sidebar {
    display: table-cell;
    width: 25%;
  }
}

/* line 120, ../sass/2A-1header-clean.scss */
.l-sidebar__inner-wrap {
  height: 100%;
  padding: 20px;
  width: 100%;
  display: block;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 128, ../sass/2A-1header-clean.scss */
  .l-sidebar__inner-wrap {
    display: table;
  }
}
/* line 132, ../sass/2A-1header-clean.scss */
noindex:-o-prefocus, .l-sidebar__inner-wrap {
  display: table;
  height: auto;
}

/* line 137, ../sass/2A-1header-clean.scss */
.l-sidebar__inner-content {
  height: 100%;
  width: 100%;
  background: grey;
}

/* --- IE hacks --- */
/* line 147, ../sass/2A-1header-clean.scss */
.lt-ie10 .l-chrome-hack {
  display: table;
}

/* line 151, ../sass/2A-1header-clean.scss */
.lt-ie10 .l-content-wrap {
  display: table-cell;
}

/* line 155, ../sass/2A-1header-clean.scss */
.lt-ie10 .l-main-section__inner-wrap {
  display: table;
}

/* line 159, ../sass/2A-1header-clean.scss */
.lt-ie10 .l-sidebar__inner-wrap {
  display: table;
}

/* line 165, ../sass/2A-1header-clean.scss */
.lt-ie9 div {
  box-sizing: border-box;
}

/* line 169, ../sass/2A-1header-clean.scss */
.lt-ie9 .l-root-wrap {
  padding-bottom: 0;
  min-width: 900px;
}

/* line 174, ../sass/2A-1header-clean.scss */
.lt-ie9 .l-footer {
  min-width: 900px;
}

/* line 178, ../sass/2A-1header-clean.scss */
.lt-ie9 .l-page-wrap {
  display: table-row;
}

/* line 182, ../sass/2A-1header-clean.scss */
.lt-ie9 .l-chrome-hack {
  display: table-cell;
}

/* line 186, ../sass/2A-1header-clean.scss */
.lt-ie9 .l-content-wrap {
  padding-bottom: 200px;
}

/* line 190, ../sass/2A-1header-clean.scss */
.lt-ie9 .l-content-wrap-inner {
  display: table-row;
}

/* line 194, ../sass/2A-1header-clean.scss */
.lt-ie9 .l-main-section {
  display: table-cell;
  height: auto;
}

/* line 199, ../sass/2A-1header-clean.scss */
.lt-ie9 .l-sidebar {
  display: table-cell;
  height: auto;
}

/* --- Opera hacks --- */
/* line 206, ../sass/2A-1header-clean.scss */
noindex:-o-prefocus, .l-header-inner {
  position: absolute;
}

/* line 210, ../sass/2A-1header-clean.scss */
noindex:-o-prefocus, .l-content-wrap-inner {
  display: table-row;
}

/* line 214, ../sass/2A-1header-clean.scss */
noindex:-o-prefocus, .l-root-wrap {
  padding-bottom: 0;
}

/* line 218, ../sass/2A-1header-clean.scss */
noindex:-o-prefocus, .l-content-wrap {
  padding-bottom: 200px;
  position: relative;
}

/* line 223, ../sass/2A-1header-clean.scss */
noindex:-o-prefocus, .l-page-wrap {
  display: table-row;
}

/* line 227, ../sass/2A-1header-clean.scss */
noindex:-o-prefocus, .l-chrome-hack {
  display: table-cell;
}

/* line 231, ../sass/2A-1header-clean.scss */
noindex:-o-prefocus, .l-main-section {
  background-repeat: no-repeat;
  background-size: 100% 51%;
  background-image: -o-linear-gradient(180deg, transparent 20px, red 20px, red 51%, transparent 51%), -o-linear-gradient(180deg, transparent 20px, red 20px, red 51%, transparent 51%), -o-linear-gradient(0deg, transparent 20px, red 20px, red 51%, transparent 51%), -o-linear-gradient(0deg, transparent 20px, red 20px, red 51%, transparent 51%);
  background-position: top 20px right 0px, bottom 20px right 0px, top 20px right 0px, bottom 20px right 0px;
}

/* line 246, ../sass/2A-1header-clean.scss */
noindex:-o-prefocus, .l-sidebar {
  background-repeat: no-repeat;
  background-size: 100% 51%;
  background-image: -o-linear-gradient(180deg, transparent 20px, grey 20px, grey 51%, transparent 51%), -o-linear-gradient(180deg, transparent 20px, grey 20px, grey 51%, transparent 51%), -o-linear-gradient(0deg, transparent 20px, grey 20px, grey 51%, transparent 51%), -o-linear-gradient(0deg, transparent 20px, grey 20px, grey 51%, transparent 51%);
  background-position: top 20px right 0px, bottom 20px right 0px, top 20px right 0px, bottom 20px right 0px;
}
