/* line 3, ../sass/2A.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/2A.scss */
body, html {
  height: 100%;
}

/* line 11, ../sass/2A.scss */
body {
  padding: 0 20px;
}

/* line 15, ../sass/2A.scss */
.l-footer {
  height: 200px;
  max-width: 1200px;
  margin: -200px auto 0 auto;
  background: #00ddd4;
  background: rgba(0, 221, 212, 0.5);
}

/* line 24, ../sass/2A.scss */
.l-root-wrap {
  height: 100%;
  padding-bottom: 200px;
  display: table;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  outline: dashed 8px red;
}

/* line 36, ../sass/2A.scss */
.l-page-wrap {
  display: table-cell;
  height: 100%;
  font-size: 35px;
  outline: dashed 8px #000;
  background: #fafa00;
  background: rgba(250, 250, 0, 0.3);
}

/* line 46, ../sass/2A.scss */
.l-chrome-hack {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  outline: dashed 8px blue;
  background: #00fa00;
  background: rgba(0, 250, 0, 0.3);
}

/* --- IE8 hacks --- */
/* line 58, ../sass/2A.scss */
.lt-ie9 div {
  box-sizing: border-box;
}

/* line 62, ../sass/2A.scss */
.lt-ie9 .l-root-wrap {
  padding-bottom: 0;
}

/* line 66, ../sass/2A.scss */
.lt-ie9 .l-page-wrap {
  display: table-row;
}

/* line 70, ../sass/2A.scss */
.lt-ie9 .l-chrome-hack {
  display: table-cell;
  padding-bottom: 200px;
}

/* --- Opera hacks --- */
/* line 77, ../sass/2A.scss */
noindex:-o-prefocus, .l-page-wrap {
  display: table-row;
}

/* line 81, ../sass/2A.scss */
noindex:-o-prefocus, .l-chrome-hack {
  display: table-cell;
}
