@import "css-layouts/olesk-layout";

body {
    margin: 0;
    padding: 0;
}

@include olesk-layout($narrow-screen-edge: 760px, $page-max-width: 1000px);

.l-header {
    background: rgb(255, 200, 0);
}

.l-footer {
    background: rgb(220, 220, 220);
}

.l-left-column {
    background: rgb(200, 250, 0);
}

.l-right-column {
    background: rgb(0, 220, 255);
}