{% macro segment(pic=None) -%}
  <div class="l-journal-segment">
    <div class="l-journal-segment__text">
      <div class="l-journal-segment__text-in">{{ caller() }}</div>
    </div>
    <div class="l-journal-segment__pic 
                {{ 'l-journal-segment__pic_nopic' if pic == None }}">
      {% if pic %}
        {{ picture(pic) }}
      {% endif %}
    </div>
  </div>
{%- endmacro %}


{% macro picture(pic) -%}
    <div class="l-journal-segment__pic__img" style="max-width:{{ pic.width }}px">
      <div class="focal-point focal-point__patch2">
        <div>
          <img src="{{ pic.placeholder }}">
          <img src="{{ pic.url }}">
        </div>
      </div>
    </div>
    <div class="l-journal-segment__pic__label">
      {{ pic.text }}
    </div>
{%- endmacro %}