{% extends "_boilerplate.j2" %}

{% from 'journal-layout/_segment.j2' import segment %}

{%  block stylesheets %}
  <link rel="stylesheet" href="/stylesheets/journal-layout.css">
{% endblock %}

{%  block body %}
  <div class="l-journal">

    {% call segment() %}
        <h1>{{ g.loremipsum.get_sentence() }}</h1>
    {% endcall %}

    {% call segment( 
        pic = {
            'url': "/images/city-320x240.jpg",
            'text': g.loremipsum.get_sentence(),
            'width': "320",
            'placeholder': "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAUAAAADwAQMAAABL4y8oAAAABGdBTUEAALGPC/xhBQAAAANQTFRFAAAAp3o92gAAAAF0Uk5TAEDm2GYAAAAgSURBVGje7cGBAAAAAMOg+VMf4QJVAQAAAAAAAAAAwDcmcAABRdpoSAAAAABJRU5ErkJggg=="
        })
    %}
        <p>{{ g.loremipsum.get_paragraph() }}</p>
        <p>{{ g.loremipsum.get_paragraph() }}</p>
        <p>{{ g.loremipsum.get_paragraph() }}</p>
    {% endcall %}

    {% call segment(
        pic = {
            'url': "/images/city-416x312.jpg",
            'text': g.loremipsum.get_sentence(),
            'width': "416",
            'placeholder': "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAaAAAAE4AQMAAAAnzbU0AAAABGdBTUEAALGPC/xhBQAAAANQTFRFAAAAp3o92gAAAAF0Uk5TAEDm2GYAAAAnSURBVHja7cGBAAAAAMOg+VNf4AhVAQAAAAAAAAAAAAAAAAAAAHwDQJgAAW4Obk0AAAAASUVORK5CYII="
        })
    %}
        <p>{{ g.loremipsum.get_paragraph() }}</p>
        <p>{{ g.loremipsum.get_paragraph() }}</p>
        <p>{{ g.loremipsum.get_paragraph() }}</p>
    {% endcall %}

    {% call segment(
        pic = {
            'url': "/images/404.jpg",
            'text': g.loremipsum.get_sentence(),
            'width': "416",
            'placeholder': "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAaAAAAE4AQMAAAAnzbU0AAAABGdBTUEAALGPC/xhBQAAAANQTFRFAAAAp3o92gAAAAF0Uk5TAEDm2GYAAAAnSURBVHja7cGBAAAAAMOg+VNf4AhVAQAAAAAAAAAAAAAAAAAAAHwDQJgAAW4Obk0AAAAASUVORK5CYII="
        })
    %}
        <p>{{ g.loremipsum.get_paragraph() }}</p>
        <p>{{ g.loremipsum.get_paragraph() }}</p>
        <p>{{ g.loremipsum.get_paragraph() }}</p>
    {% endcall %}
  </div>
{% endblock %}


