{% extends "_boilerplate.j2" %}


{%  block stylesheets %}
  <link rel="stylesheet" href="/stylesheets/book-layout.css">
{% endblock %}


{%  block body %}
<div class="l-book">
    <div class="l-book__text">
        <h1>Lorem ipsum dolor sit amet</h1>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, minus amet vitae temporibus necessitatibus natus cum sunt velit repellendus ullam animi nobis labore expedita dignissimos eum hic beatae eaque quos quasi culpa perferendis fugit perspiciatis iste corrupti voluptatibus esse quam ipsam qui impedit alias quas aperiam sint laudantium sequi consequatur!</p>
        <div class="l-book__pic">
            <div class="l-book__pic-img focal-point focal-point__patch2" style="max-width:416px">
                <div>
                  <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAaAAAAE4AQMAAAAnzbU0AAAABGdBTUEAALGPC/xhBQAAAANQTFRFAAAAp3o92gAAAAF0Uk5TAEDm2GYAAAAnSURBVHja7cGBAAAAAMOg+VNf4AhVAQAAAAAAAAAAAAAAAAAAAHwDQJgAAW4Obk0AAAAASUVORK5CYII=">
                  <img src="/images/city-416x312.jpg">
                </div>
            </div>
            <div class="l-book__pic-label">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, animi fugit dicta reprehenderit quod quibusdam.</p>
            </div>
        </div>
        <p>Nulla, quisquam, perferendis, assumenda alias officiis perspiciatis minus doloremque enim repellendus delectus iure odit nostrum aperiam dolorum rerum totam laudantium! Ratione, sed, eius velit officia repellendus cupiditate debitis inventore tempora corporis amet facilis repudiandae. Officia, esse, praesentium, illum blanditiis pariatur reiciendis dolorum sed sequi suscipit accusantium in sint error tenetur.</p>
        <div class="l-book__pic">
            <div class="l-book__pic-img focal-point focal-point__patch2" style="max-width:416px">
                <div>
                  <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAaAAAAE4AQMAAAAnzbU0AAAABGdBTUEAALGPC/xhBQAAAANQTFRFAAAAp3o92gAAAAF0Uk5TAEDm2GYAAAAnSURBVHja7cGBAAAAAMOg+VNf4AhVAQAAAAAAAAAAAAAAAAAAAHwDQJgAAW4Obk0AAAAASUVORK5CYII=">
                  <img src="/images/404.jpg">
                </div>
            </div>
            <div class="l-book__pic-label">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus voluptates quibusdam blanditiis!</p>
            </div>
        </div>
        <p>Perspiciatis, similique, repellat debitis voluptate laudantium optio nobis consequatur quos sapiente omnis facere a voluptatibus aspernatur natus possimus sed reiciendis! Adipisci, in laboriosam quibusdam nobis quisquam officiis sit similique incidunt optio quia ducimus vero veritatis voluptatem impedit eligendi. Officiis, doloribus reiciendis libero distinctio eveniet fugit odit consequuntur in illo esse!</p>
    </div>
</div>
{% endblock %}