@import "compass/css3/box-sizing";


@mixin olesk-layout (
        $footer-height: 200px,
        $header-height: 100px,
        $wide-screen-edge: 960px,
        $page-max-width: 1200px,
        $main-section-width-prc: 75%,
        $padding: 20px,
        $ie-legacy-min-width: 900px
    ) 
{

    *, *:after, *:before {
        @include box-sizing(border-box);
    }

    body, html {
        height: 100%;
    }

    .l-footer {
        height: $footer-height;
        max-width: $page-max-width;
        margin: -$footer-height auto 0 auto;
    }

    .l-root-wrap {
        height: 100%;
        padding-bottom: $footer-height;
        display: table;
        width: 100%;
        max-width: $page-max-width;
        margin: 0 auto;
    }

    .l-page-wrap {
        display: table-cell;
        height: 100%;
    }

    .l-chrome-hack {
        max-width: $page-max-width;
        height: 100%;
        margin: 0 auto;
    }

    .l-content-wrap {
        display: table;
        height: 100%;
        width: 100%;
    }

    .l-header {
        height: $header-height;
        max-width: $page-max-width;
        margin: 0 auto;
        display: table-row;
    }

    .l-header-inner {
        height: $header-height;
        overflow: hidden;
    }

    .l-content-wrap-inner {
        display: table;
        height: 100%; 
        width: 100%;   
    }

    .l-main-section {
        display: table-row;
        height: 100%;

        @media only screen and ( min-width: $wide-screen-edge ) {
            display: table-cell;
            width: $main-section-width-prc;
        }
    }

    .l-main-section__inner-wrap {
        height: 100%;
        padding: $padding;
        width: 100%;
        // firefox need display: block
        display: block;
    }
    // chrome need display: table
    @media screen and (-webkit-min-device-pixel-ratio:0) { 
        .l-main-section__inner-wrap { 
            display: table;
        } 
    }
    // opera hack
    noindex:-o-prefocus, .l-main-section__inner-wrap {
        display: table;
        height: auto;
    }

    .l-main-section__inner-content {
        height: 100%;
        width: 100%;
    }

    .l-sidebar {
        display: table-row;

        @media only screen and ( min-width: $wide-screen-edge ) {
            display: table-cell;
            width: 100% - $main-section-width-prc;
        }
    }

    .l-sidebar__inner-wrap {
        height: 100%;
        padding: $padding;
        width: 100%;
        // firefox need display: block
        display: block;
    }
    // chrome need display: table
    @media screen and (-webkit-min-device-pixel-ratio:0) { 
        .l-sidebar__inner-wrap { 
            display: table;
        } 
    }
    // opera hack
    noindex:-o-prefocus, .l-sidebar__inner-wrap {
        display: table;
        height: auto;
    }

    .l-sidebar__inner-content {
        height: 100%;
        width: 100%;
    }

    /* --- IE hacks --- */

    // less IE10

    .lt-ie10 .l-chrome-hack {
        display: table;
    }

    .lt-ie10 .l-content-wrap {
        display: table-cell;
    }

    .lt-ie10 .l-main-section__inner-wrap {
        display: table;
    }

    .lt-ie10 .l-sidebar__inner-wrap {
        display: table;
    }

    // less IE9

    .lt-ie9 div {
        box-sizing : border-box;
    }

    .lt-ie9 .l-root-wrap {
        padding-bottom: 0;
        min-width: $ie-legacy-min-width;
    }

    .lt-ie9 .l-footer {
        min-width: $ie-legacy-min-width;
    }

    .lt-ie9 .l-page-wrap {
        display: table-row;
    }

    .lt-ie9 .l-chrome-hack {
        display: table-cell;
    }

    .lt-ie9 .l-content-wrap {
        padding-bottom: $footer-height;
    }

    .lt-ie9 .l-content-wrap-inner {
        display: table-row;
    }

    .lt-ie9 .l-main-section {
        display: table-cell;
        height: auto;
    }

    .lt-ie9 .l-sidebar {
        display: table-cell;
        height: auto;
    }

    /* --- Opera hacks --- */

    noindex:-o-prefocus, .l-header-inner {
        position: absolute;
    }

    noindex:-o-prefocus, .l-content-wrap-inner {
        display: table-row;
    }

    noindex:-o-prefocus, .l-root-wrap {
        padding-bottom: 0;
    }

    noindex:-o-prefocus, .l-content-wrap {
        padding-bottom: $footer-height;
        position: relative;
    }

    noindex:-o-prefocus, .l-page-wrap {
        display: table-row;
    }

    noindex:-o-prefocus, .l-chrome-hack {
        display: table-cell;
    }
}


@mixin olesk-layout-adjust(
    $footer-height, 
    $header-height, 
    $padding-main,
    $padding-sidebar)
{
    .l-footer {
        height: $footer-height;
        margin: -$footer-height auto 0 auto;
    }

    .l-root-wrap {
        padding-bottom: $footer-height;
    }

    .l-header {
        height: $header-height;
    }

    .l-header-inner {
        height: $header-height;
    }

    .l-main-section__inner-wrap {
        padding: $padding-main;
    }
    
    .l-sidebar__inner-wrap {
        padding: $padding-sidebar;
    }
    

}